@import "vars"
@import "libs"
@import "modal"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	font-weight: 400
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

b, strong
	font-weight: bold

ul, li, a, label
	margin: 0
	padding: 0

h1, h2, h3, h4, h5, h6
	margin: 0

h1
	font-size: 72px
h2
	font-size: 60px
	color: #363636
	font-weight: 900
	span
		color: $accent
h5
	font-size: 24px
h6
	font-size: 18px

a, button:focus
	outline: none

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
		
.btn
	display: block
	width: 100%
	max-width: 224px
	padding: 15px 50px
	border-radius: 25px
	box-shadow: 0 10px 40px rgba(54, 54, 54, 0.15)
	background-color: #fff
	font-size: 18px
	font-weight: 700
	text-shadow: 0 10px 30px rgba(223, 27, 61, 0.3)
	color: $accent
	transition: .3s ease-out
	&:hover
		text-decoration: none
		color: $accent
		opacity: .6

nav
	ul li
		padding-right: 60px
		&:last-child
			padding: 0
		a.nav-link
			padding: 0
			color: #fff
			transition: .3s ease
			text-transform: uppercase
			&:hover
				opacity: .6

// Page
.header
	max-height: 1020px
	color: #fff
	overflow: hidden
	&-bg
		position: relative
		padding: 40px 45px 0
		height: 900px
		background-color: #bcbcbc
		background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%)
	&__decoration
		width: 100%
		height: 11vw
		margin-top: -.1rem
		&-item
			position: relative
			width: 150%
			height: 100%
			z-index: 1
			float: left
			margin-bottom: -1rem
			transform-origin: 0 100%
			transform: rotate(-5deg) translateX(-10%)
			background-color: #fff

	.iphone-img
		position: relative
		margin-top: 132px
		z-index: 2

	&__bottom
		h1
			margin-top: 210px
		h5
			margin-top: 26px
			font-weight: 300
			span
				font-weight: 900
		.iphone-img
			margin-top: 132px
		.btn
			margin-top: 100px

// MESSAGING
.messaging
	p
		margin-top: 30px
		font-size: 18px
		color: #808080
		line-height: 1.7

.big-line
	margin: 100px 0
	height: 1px
	background-color: #e0e0e0
	opacity: .2

// WHAT SAY
.what-say
	margin-bottom: 240px
	h2
		margin-bottom: 100px
	&__item
		.item-text
			position: relative
			margin-bottom: 30px
			padding: 30px
			border: 1px solid #e0e0e0
			font-size: 18px
			line-height: 1.5
			color: #808080
			&::after
				content: ''
				display: block
				position: absolute
				bottom: -8px
				left: 5%
				width: 15px
				height: 15px
				background-color: #fff
				transform: rotate(-227deg)
				border-right: 1px solid #e0e0e0
				border-top: 1px solid #e0e0e0
			a
				font-weight: 700
				color: $accent
				letter-spacing: 1.08px
				transition: .3s ease
				&:hover
					opacity: .6
		figure
			img
				width: 62px
				height: 62px
			.name
				margin-bottom: 5px
				letter-spacing: 1.08px
				color: #363636
			.position
				font-family: 'Ubuntu', sans-serif
				text-transform: uppercase
				color: #667386
				letter-spacing: .9
		&:nth-child(2) .item-text
			top: -30px
			border: 0
			box-shadow: 0 30px 60px rgba(54, 54, 54, .15)

// CAPABILITY
.capability
	min-height: 490px
	background-color: #bcbcbc
	background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%)
	color: #fff
	&__item
		margin: 50px 0
		> div
			flex-basis: 75%
		h5
			margin-bottom: 5px
			font-weight: 700
			letter-spacing: 1.4px
		p
			margin: 0
			font-size: 16px
			font-weight: 400
			letter-spacing: .9px
			line-height: 1.8
			opacity: .6
		svg
			width: 100%
			height: 100%
			max-width: 48px
			max-height: 48px
			path
				fill: #fff
	.iphone-video
		position: absolute
		top: 25px
		left: 0
		right: 0
		display: block
		width: 100%
		min-height: 100%
		transform: translate(0%, -50%)
		&:hover img
			opacity: .8
		img
			transition: .3s ease-out

// SUBSCRIBE
.subscribe
	h2
		margin-top: 220px
	h6
		margin-top: 40px
		opacity: .7
	.form
		margin-top: 60px 
		label
			max-width: 571px
			border-radius: 25px
			background-color: #f8f8f8
			input
				width: 100%
				padding-left: 30px
				background: none
				border: 0
				font-size: 18px
				&::placeholder
					opacity: 1
					transition: .2s ease-out
				&:focus::placeholder
					opacity: 0
			.btn
				max-width: 180px
				border: 0
				color: #fff
				box-shadow: 0 10px 30px rgba(223, 27, 61, 0.3)
				background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%)

// DOWNLOAD
.download
	.app-icon
		width: 100%
		max-width: 210px
		margin: 0 auto
	h2
		margin-top: 20px
	h6
		margin-top: 30px
		opacity: .7
	.appstore-icon
		width: 100%
		max-width: 183px
		margin: 50px auto 0

// FOOTER
.footer
	margin-top: 140px
	padding: 40px 0
	border-top: 1px solid #e0e0e0
	.container-fluid
		padding: 0 45px
	&__nav ul li
		a.nav-link
			color: #363636
			font-weight: 600

	.dropdown
		position: relative
		text-align: left
		color: #343c3f
		text-transform: uppercase
		&.closed
			.dropdown-menu
				display: none
			.title
				&:after
					transform: rotate(180deg) translate(100%, 100%)
		.title
			width: 100%
			position: relative
			padding: 12px
			cursor: pointer
			border: 1px solid #a2acb0
			&:after
				display: block
				content: ''
				position: absolute
				right: 0
				width: 12px
				height: 16px
				background-image: url('../img/ico/arrow-down.png')
				background-repeat: no-repeat
				background-position: center
				transform: rotate(0deg) translate(-100%,-100%)

		.dropdown-menu
			position: absolute
			bottom: 50px
			display: block
			width: 100%
			overflow: hidden
		ul
			width: 100%
			border: 1px solid #a2acb0
			li
				width: 100%
				height: 40px
				line-height: 40px
				padding: 0 12px
				overflow: hidden
				cursor: pointer
				background-color: #a2acb0
				&:hover
					background-color: #fff
					color: #343c3f
				&.selected
					background-color: #fff


@import "media"